footer{
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: #fff;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-links:hover{
    color: #2691d9;
}