*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(logopic.jpeg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all .3s ease 0s;
}
.nav__links li a:hover{
   color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,.8);
}
.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px 10px 90px;
    /* grid-template-areas: "image" "text" "stats" ; */
    font-family: sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    margin: 10px;
}
.card-img-top{
    max-width: 90%;
    padding: 10px;
    position: relative;
    left: 10px; 
}
.card-body{
    position: relative;
    margin-top:  -75px;
    text-align: center;
}
.card-button{
    margin-top: 10px;
}
#card3 .card-img-top{
    height:160px;
}
#card2 .card-button{
    margin-top: 28px;
}
#card3 .card-button{
    margin-top: 27px;
}
.card-image{
    /* grid-area: image; */
}
.card-text{
    /* grid-area: text; */
}
.card-stats{
    /* grid-area: stats; */
}
#card1{
    /* justify-content: center;
    align-items: center;
    position: static; */
}
#card2{
  
}
#card3{

}
